@import "reset.css";

.nav {
    margin: 32px auto;
    text-align: justify;
    /*justify-content: space-between;*/
    width: 48%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.navli {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: red;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 15px;
}
/*nice till this*/
.pics {
    margin-top: 25px;
    width: 100%;
    display: flex;
/*    left: 0px;*/
    top: 78px;
    align-content: stretch;
}
.mainheader {
    margin-top: 48px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 39px;
    letter-spacing: 3.3px;
}

.text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 89%;
    margin-left: 67px;
    margin-bottom: 28px;
    letter-spacing: 2.4px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: auto;
    min-height: 51px;
    width: 15%;
    min-width: 191px;
    background: red;
    border-radius: 4px;
    border: none;
    letter-spacing: 1.8px;
}

.box {
    text-align: center;
    margin-top: 66px;
}
button:hover {
    background-color: rgba(255, 40, 40, 0.79);
}
button:active {
    background-color: #bd0000;
}

.content {
    margin: auto;
    max-width: 1250px;
}

footer > p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    margin-top: 82px;
    margin-left: 55%;
    margin-bottom: 29px;
 }

